[Unit]
Description=Batter watcher service

[Service]
Type=simple
ExecStart=/usr/bin/battery-watcher watch
RestartSec=1min
Restart=always

[Install]
WantedBy=multi-user.target
